.App {
  font-family: system-ui;
  font-size: 14px;
  padding: 16px 16px 56px;

  &__section {
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }

  &__inputGroup {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    > * {
      flex-shrink: 0;
    }
  }

  &__label {
    width: 130px;
    text-transform: capitalize;
  }

  &__input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    background-color: #fff;

    &--editing {
      background-color: #f0f8ff;
    }
  }

  &__button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;

    &--reset {
      position: fixed;
      left: 16px;
      bottom: 16px;
    }
  }

  &__buttonGroup {
    display: flex;
    gap: 4px;
  }

  &__message {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 8px;
    border-radius: 4px;

    &--error {
      background-color: #ffebee;
      border: 1px solid #ffcdd2;
      color: #c62828;
    }

    &--success {
      background-color: #e8f5e8;
      border: 1px solid #c8e6c9;
      color: #2e7d32;
    }
  }
}
