.KeymapSection {
  &__section:not(:last-of-type) {
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }

  &__inputGroup {
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    >* {
      flex-shrink: 0;
    }
  }

  &__label {
    width: 130px;
    text-transform: capitalize;
  }

  &__input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    background-color: #fff;

    &--editing {
      background-color: #f0f8ff;
    }
  }

  &__buttonGroup {
    display: flex;
    gap: 8px;
  }


  &__button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;

    &--confirm {
      color: #3CB371;
    }

    &--cancel {
      color: #FF6347;
    }
  }
}
